section.main-container {
  display: flex;
  flex-direction: column;
  padding: 9em 5em 9em 5em;
}
h1,
h2 {
  color: #e9535d;
  font-weight: bold;
}
h1 {
  text-transform: uppercase;
}
ul {
  padding: 0px 4em;
}

ul,
p {
  color: black;
  font-size: 22px;
  text-align: justify;
}

@media screen and (max-width: 768px) {
  section.main-container {
    padding: 7em 5em 4em 5em;
  }

  /* section.main-container ul,
  p {
    font-size: 18px;
  } */
}

@media screen and (max-width: 425px) {
  section.main-container {
    padding: 7em 5em 4em 5em;
  }

  section.main-container ul,
  p {
    font-size: 16px;
  }

  ul {
    padding: 0px 0px 0px 30px;
  }

  h1 {
    font-size: 2rem;
  }
}

@media screen and (max-width: 375px) {
  section.main-container {
    padding: 4em 4em 4em 4em;
  }

  section.main-container ul,
  p {
    font-size: 15px;
  }

  h1 {
    font-size: 31px;
  }

  ul {
    padding: 0px 0px 0px 30px;
  }
}

@media screen and (max-width: 360px) {
  section.main-container {
    padding: 4em 2em 4em 2em;
  }

  section.main-container ul,
  p {
    font-size: 14px;
  }

  h1 {
    font-size: 32px;
  }
  h2 {
    font-size: 24px;
  }

  ul {
    padding: 0px 0px 0px 30px;
  }
}

@media screen and (max-width: 340px) {
  section.main-container {
    padding: 4em 2em 4em 2em;
  }

  section.main-container ul,
  p {
    font-size: 14px;
  }

  h1 {
    font-size: 32px;
  }
  h2 {
    font-size: 24px;
  }

  ul {
    padding: 0px 0px 0px 30px;
  }
}

@media screen and (max-width: 320px) {
  section.main-container {
    padding: 4em 2em 4em 2em;
  }

  section.main-container ul,
  p {
    font-size: 14px;
  }

  h1 {
    font-size: 32px;
  }
  h2 {
    font-size: 24px;
  }

  ul {
    padding: 0px 0px 0px 30px;
  }
}
