* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  background-image: url("./Assets/Images/bodyback.jpeg");

  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -moz-background-size: auto;
  -webkit-background-size: auto;
  /* background-attachment: scroll; */
  /* font-family: 'Shadows Into Light', cursive; */
  /* font-family: 'Shadows Into Light', cursive; */
  /* font-family: 'Great Vibes', cursive; */
}

.parallaxOne {
  /* background-image: url("./Assets/Images/rainbow.jpg"); */
  background: linear-gradient(to right, #ffffff, #ef3b36);
  height: 120vh;
  /* opacity: -1;
  transition: background 0.8s ease; */
}
.parallaxTwo {
  /* height: 100vh; */
  /* background-image: url("./Assets/Images/lattab.jpeg"); */
  /* background: linear-gradient(to bottom, #ffefba, #ffffff); W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: rgba(218, 207, 207, 0.719);
}
.parallaxOne,
.parallaxTwo {
  opacity: 1;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* font-family: "Bitter", serif; */
  font-family: "Copse", serif;
}
.parallaxThree {
  /* background-image: url("./Assets/Images/Cloudy.jpeg"); */
  background: rgba(128, 60, 60, 0.719);
  background-size: cover;
  /* height: 120vh; */
  opacity: 0.9;
  transition: background 0.8s ease;
  font-family: "Copse", serif;
}
