* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: "Copse", serif;
}
body {
  display: flex;
  flex-direction: column;
  background-image: url("./Assets/Images/bodyback.jpeg") !important;

  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallaxOne {
  background: linear-gradient(to right, #ffffff, #ef3b36);
  height: 120vh;
}
.parallaxTwo {
  background: rgba(218, 207, 207, 0.719);
}
.parallaxOne,
.parallaxTwo {
  opacity: 1;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* font-family: "Bitter", serif; */
  font-family: "Copse", serif;
}
.parallaxThree {
  /* background-image: url("./Assets/Images/Cloudy.jpeg"); */
  background: rgba(128, 60, 60, 0.719);
  background-size: cover;
  /* height: 120vh; */
  opacity: 0.9;
  transition: background 0.8s ease;
  font-family: "Copse", serif;
}
@media screen and (max-width: 768px) {
  body {
    -moz-background-size: auto;
    -webkit-background-size: auto;
    background-position: top;
    background-size: auto;
  }
}

@media screen and (max-width: 425px) {
  body {
    -moz-background-size: auto;
    -webkit-background-size: auto;
    background-position: top;
    background-size: auto;
  }
}

@media screen and (max-width: 375px) {
  body {
    -moz-background-size: auto;
    -webkit-background-size: auto;
    background-position: top;
    background-size: auto;
  }
}

@media screen and (max-width: 320px) {
  body {
    -moz-background-size: auto;
    -webkit-background-size: auto;
    background-position: top;
    background-size: auto;
  }
}
